.navigation {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #2F2F2F;
    background-color: #1F1F1F;
    padding: 10px;
    align-items: center;
}

.navigation-link-settings {
    margin-left: auto;
}

.navigation .navigation-link {
    text-decoration: none;
    font-weight: 600;
    color: #DDDDDD;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    line-height: 1.2rem;
    display: flex;
    align-items: center;
    gap: 6px;
}

.navigation .navigation-link:hover,
.navigation .navigation-link.active {
    background-color: #2F2F2F;
}
