.chat-message {
    padding: 30px;
    border-radius: 12px;
    margin: 20px 0;
    background-color: #2b2a33;
    color: #e8e6e3;
    max-width: 100%;
}

.chat-message.chat-message-assistant {
    background-color: #2b2a33;
    color: #e8e6e3;
    align-self: flex-end;
    margin-left: 40px;
}

.chat-message.chat-message-user {
    background-color: #2b2a33;
    color: #eee;
    align-self: flex-start;
    margin-right: 40px;
}

.think-content {
    font-size: 0.75rem;
    color: #999;
}

.toggle-think-context {
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 10px;
}

.toggle-think-context:hover {
    color: #555;
}
