.page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

/* Prompt form */

.area_prompt_form {
  border: 1px solid #35393b;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.question_prompt {
  font-size: 1.5rem;
  text-align: center;
}

.question_textarea {
  display: block;
  margin: 10px 0;
  resize: none;
  width: 400px;
  min-height: 50px;
  border-radius: 6px;
  outline: none;
  padding: 5px;
  border: 1px solid #35393b;
  background-color: #2b2a33;
  color: #fbfbfe;
  width: 100%;
}

.area_prompt_form button {
  align-self: flex-end;
  padding: 5px 10px;
  margin: 0;
}

/* Chat history */

.area_chat_history {
  display: flex;
  flex-direction: column;
}

.question_response {
  padding: 30px;
  border-radius: 12px;
  margin: 20px 0;
  background-color: #2b2a33;
  color: #e8e6e3;
}

.question_response.question_assistant {
  background-color: #2b2a33;
  color: #e8e6e3;
  align-self: flex-end;
}

.question_response.question_user {
  background-color: #2b2a33;
  color: #eee;
  align-self: flex-start;
}
